@model ExamHub.DTO.BaseResponse

@{
    ViewData["Title"] = "Create Student";
    Layout = null;
}
<title>Create Teacher</title>
<link rel="stylesheet" href="~/css/CreateTeacher.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ExamHub.styles.css" asp-append-version="true" />

<div class="dashboard-container">
    <div class="sidebar">
        <h2>Dashboard</h2>
        <ul>
            <li><a asp-action="Index" asp-controller="Principal">Home</a></li>
            <li><a asp-action="ViewTeachers" asp-controller="Principal">Teachers</a></li>
            <li><a asp-action="ViewStudents" asp-controller="Principal">Students</a></li>
            <li><a asp-action="ManageClasses" asp-controller="Principal">Classes</a></li>
            <li><a asp-action="ManageSubjects" asp-controller="Principal">Subjects</a></li>
            <li><a asp-action="Settings" asp-controller="Principal">Settings</a></li>
            <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <header>
            <h1>Create Student</h1>
        </header>
        <section class="create-teacher" style="width:33pc">
            <p style="color: red">@if(Model.Message is not null)
                {
                    @Model.Message;
                }
            </p>
            <form asp-action="CreateStudent">
                    <div class="form-group">
                    <label>FirstName</label>
                        <input name="FirstName" id="FirstName" class="form-control"/>
                    </div>
                    <div class="form-group">
                    <label>LastName</label>
                        <input name="LastName" id="LastName" class="form-control" />
                    </div>
                    <div class="form-group">
                    <label>Email</label>
                        <input name="UserName" id="UserName" class="form-control" />
                    </div>
                    <div class="form-group">
                    <label>Password</label>
                        <input name="Password" type="password" id="Password" class="form-control" />
                    </div>
                    <div class="form-group">
                    <label>DateOfBirth</label>
                        <input name="DateOfBirth" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                    <label>Gender</label>
                        <select name="Gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Class</label>
                        <select name="ClassId" class="form-control">
                            @foreach (var cls in ViewBag.Class as SelectList)
                            {
                                <option value="@cls.Value">@cls.Text</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>


        </section>
    </div>
</div>
