body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4ff;
}

/* h2 {
    margin: 0;

} */

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.login-section, .info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-section {
    background-color: #ffffff;
}

    .login-section h2 {
        font-size: 24px;
    }

    .login-section p {
        font-size: 14px;
        color: #666;
    }

button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.google-bt {
    background-color: #eaecf0;
    color: black;
}

.facebook-btn {
    background-color: #f4f5f7;
    color: black;
}

form {
    width: 100%;
    max-width: 300px;
}

    form label {
        display: block;
        margin: 10px 0 5px;
    }

    form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.forgot-password {
    display: block;
    text-align: right;
    margin: 10px 0;
    color: #4285f4;
    text-decoration: none;
}

.login-btn {
    background-color: #6a0dad;
    color: white;
}

.info-section {
    background-color: #eceeff;
    color: #333;
    text-align: center;
}

    .info-section p {
        font-size: 24px;
        margin: 10px 0;
    }

.image-container {
    margin-top: 20px;
}

    .image-container img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
