/* Sidebar */
.sidebar {
    background-color: #4B0082;
    color: white;
}

    .sidebar .nav-link {
        color: white;
    }

        .sidebar .nav-link:hover {
            background-color: #6A0DAD;
        }

    .sidebar .sidebar-link {
        color: white;
        text-decoration: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

        .sidebar .sidebar-link i {
            margin-right: 10px;
        }

/* Main Content */
.question {
    margin-bottom: 20px;
}

/* Question Navigation Panel */
.question-nav {
    background-color: #f8f9fa;
    height: 100%;
    padding: 20px;
}

    .question-nav .nav-item {
        margin-bottom: 10px;
    }

    .question-nav .nav-link {
        font-weight: bold;
        color: #4B0082;
    }

        .question-nav .nav-link:hover {
            color: #6A0DAD;
            text-decoration: underline;
        }

        .question-nav .nav-link.faded {
            opacity: 0.5;
        }
